.footer-container {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-group {
  margin: 20px;
  text-align: center;
}

img {
  margin: 2px;
}

.img-large {
  height: 30px;
}

