<div class="footer-container navbarlike-light">
  <div class="footer-group">
    <h5>4 Identical Worship Experiences; Sundays at 8:15, 9:45 & 11:15am & Thursdays at 6:30pm</h5>
  </div>

  <div class="footer-group">
    <img
      src="https://static.wixstatic.com/media/cbd73b_781f274812d34dcfa644d54fe65fa840~mv2.png/v1/fill/w_98,h_39,al_c,q_80,usm_0.66_1.00_0.01/breze%20log%20in.webp"
      class="img-large"
    >
    <img
      src="https://static.wixstatic.com/media/cbd73b_20e549ac56a44976a702a4ea634ae5b1~mv2.png/v1/crop/x_60,y_40,w_531,h_170/fill/w_102,h_30,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_20e549ac56a44976a702a4ea634ae5b1~mv2.webp"
      class="img-large"
    >
    <img
      src="https://static.wixstatic.com/media/cbd73b_bafc563955d94b379d5c700cc84bd1b6~mv2.png/v1/fill/w_118,h_31,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_bafc563955d94b379d5c700cc84bd1b6~mv2.webp"
      class="img-large"
    >
  </div>

  <div class="footer-group">
    <img
      src="https://static.wixstatic.com/media/e316f544f9094143b9eac01f1f19e697.png/v1/fill/w_30,h_30,al_c,q_80,usm_0.66_1.00_0.01/e316f544f9094143b9eac01f1f19e697.webp"
    >
    <img
      src="https://static.wixstatic.com/media/9c4b521dd2404cd5a05ed6115f3a0dc8.png/v1/fill/w_30,h_30,al_c,q_80,usm_0.66_1.00_0.01/9c4b521dd2404cd5a05ed6115f3a0dc8.webp"
    >
    <img
      src="https://static.wixstatic.com/media/a1b09fe8b7f04378a9fe076748ad4a6a.png/v1/fill/w_30,h_30,al_c,q_80,usm_0.66_1.00_0.01/a1b09fe8b7f04378a9fe076748ad4a6a.webp"
    >
    <img
      src="https://static.wixstatic.com/media/fb5d18fdfff64a56a7e136d2016a1b7b.png/v1/fill/w_30,h_30,al_c,q_80,usm_0.66_1.00_0.01/fb5d18fdfff64a56a7e136d2016a1b7b.webp"
    >
  </div>
</div>
