<div class="container-missions">
  <div class="banner bg-primary text-light">
    <div class="ihclogo">
      <img src="https://static.wixstatic.com/media/cbd73b_e591d36e84ea44d8a1ebd28408028244~mv2.png/v1/fill/w_196,h_196,al_c,q_80,usm_0.66_1.00_0.01/nz2019.webp">
      <h2>IHC 2019 <br> October 20</h2>
    </div>

    <div class="title legible-width">
      <h2>Missions</h2>
      <hr>
      <p><em>
        Click on any of the Bridge supported missions below to learn more about their work. <br>
        Click on any of the involvement opportunities below and someone will contact you with more details.
      </em></p>
      <hr>
      <p>Coordinator Tim Cole</p>
    </div>
  </div>

  <div class="banner mission-links">
    <div>
      <a href="/out-of-domain">
        <img src="https://static.wixstatic.com/media/cbd73b_35f47749d89046c5b5c114d759860a74~mv2.png/v1/crop/x_0,y_0,w_1201,h_604/fill/w_189,h_93,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_35f47749d89046c5b5c114d759860a74~mv2.webp">
      </a>
      <a href="/out-of-domain">
        <img src="https://static.wixstatic.com/media/cbd73b_caf9258842e54a82930ec364b5fc320c~mv2.png/v1/fill/w_174,h_92,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_caf9258842e54a82930ec364b5fc320c~mv2.webp">
      </a>
    </div>

    <div>
      <a href="/out-of-domain">
        <img src="https://static.wixstatic.com/media/cbd73b_7eae905b09604531a2dc976ef6a25d03~mv2.png/v1/crop/x_19,y_0,w_1169,h_600/fill/w_183,h_92,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_7eae905b09604531a2dc976ef6a25d03~mv2.webp">
      </a>
      <a href="/out-of-domain">
        <img src="https://static.wixstatic.com/media/cbd73b_e75a2c20a84c46f7905cd8ed0ed85d01~mv2.png/v1/crop/x_0,y_102,w_450,h_348/fill/w_120,h_92,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_e75a2c20a84c46f7905cd8ed0ed85d01~mv2.webp">
      </a>
    </div>

    <a class="btn btn-primary" href="/out-of-domain">Mission Trip Application</a>
  </div>

  <div class="info-panel">
    <div class="info-box bg-support1">
      <h3>Missions Committee</h3>
      <p>
        This team decides missions policy, makes annual missions budget decisions, and other big-picture decisions
        around things like Bridge's main mission points, short term missions trips, and the International Harvest
        Campaign. (*Specific criteria must be met to join this team, with Elder approval.)
      </p>
      <a href="#">Read more</a>
    </div>

    <div class="info-box bg-support2">
      <h3>Care Teams</h3>
      <p>
        Bridge Missions Care Teams work to actively encourage and pastor our missionaries on the field in practical
        ways. They meet during and between the regular GIG events.
      </p>
      <a href="#">Read more</a>
    </div>

    <div class="info-box bg-support3">
      <h3>GIG Team</h3>
      <p>
        Coordinates all the details for the three GIG events (Global Impact Gatherings) each year. May include
        promotional legwork, meal arrangements, hosting/serving, cleanup and follow-up assignments.
      </p>
      <a href="#">Read more</a>
    </div>

    <div class="info-box bg-support4">
      <h3>IHC Team</h3>
      <p>
        Coordinates all the details for the annual IHC (International Harvest Campaign) each Fall at Bridge. May
        include promotional legwork, hosting duties, financial counting duties and other follow-up assignments.
      </p>
      <a href="#">Read more</a>
    </div>

    <div class="info-box bg-support5">
      <h3>Sending Team</h3>
      <p>
        Serves short term missions teams and their families both before and during their trips abroad. May include
        prayer partner support, travel logistics and support, meals for meetings.
      </p>
      <a href="#">Read more</a>
    </div>
  </div>
</div>
