.info-panel {
  display: flex;
  flex-direction: column;
  width: 100%;

  .info-box {
    text-align: center;
    padding: 1em;
    margin: 1em 0;
    flex: 1 1 0;

    h3:first-child {
      margin: 1em 0;
    }

    p {
      text-align: left;
      margin-right: auto;
      margin-left: auto;
      min-width: 18em;
      max-width: 36em;
    }

    ul {
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      min-width: 18em;
      max-width: 36em;
    }
  }
}

@media screen and (min-width: 68em) {
  .info-panel {
    flex-direction: row;

    .info-box {
      padding: 2em;
      margin: 0 0 0 1em;
    }

    .info-box:first-child {
      margin: 0;
    }
  }
}

