<div class="container-fluid" style="position: relative">
  <div class="backdrop" [style.height]="height" [style.top]="topOffset">&nbsp;</div>
  <div class="row start-box" #startBox>
    <div class="col">
      <video class="start-video" controls #startVideo>
        <source src="https://video.wixstatic.com/video/cbd73b_15905beab63f49a38d77f76c9dde8d0a/1080p/mp4/file.mp4" type="video/mp4">
        Something went wrong
      </video>
    </div>
    <div class="col-4 text-center start-title" #startTitle>
      <h2>I'M NEW, WHAT SHOULD I KNOW?</h2>

      <i class="material-icons">maximize</i>

      <p>
        Welcome to Bridge Christian Church. We’re glad you are here! We are a diverse group of people made up of
        families and individuals of all ages, from many different church backgrounds who are trying to live in
        Christian community. Whether you’ve attended church all your life or you’ve never been in church, we invite you
        to experience the difference here.
      </p>
    </div>
    <div class="col-1"></div>
  </div>
</div>

<div class="row">
  <div class="col">

  </div>
  <div class="col">

  </div>
  <div class="col">

  </div>
</div>

