.video-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
}

.banner {
  position: absolute;
  top: 40px;
  height: 300px;
  width: 100%;
  background-color: tomato;
  z-index: -1;
}

.title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px;
  margin: 20px 0;
}


@media screen and (min-width: 999px) {
  .title-text {
    width: 30vw;
  }

  .start-video {
    width: 50vw;
  }
}

@media screen and (max-width: 1000px) {
  .start-video {
    width: 95vw;
  }
}

