.backdrop {
  width: 110%;
  position: absolute;
  left: -30px;
  z-index: -1;
  background-color: tomato;
}

.start-video {
  height: 350px;
  margin-left: 50px;
}

.start-title{
  padding: 10px;
}

.start-box {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: white;
}

.info-panel {
  display: flex;
  margin-top: 100px;
}

.info-panel > * {
  flex: 1 100%;
}

.info-color-box {
}

$info-text-box-padding: 30px;
.info-text-box {
  padding: 30px;
  margin: auto;
  width: 400px;
}

