<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="/">
    <img src="https://static.wixstatic.com/media/cbd73b_64672837070d4072888d2b4ceefaa5fe~mv2_d_5333_1471_s_2.png/v1/fill/w_225,h_49,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_64672837070d4072888d2b4ceefaa5fe~mv2_d_5333_1471_s_2.webp"
         height="40px">
  </a>

  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" [class.show]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/announcements">Announcements</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/imnew">I'm&nbsp;New</a>
      </li>

      <li class="nav-item">
        <app-collapse-link title="About&nbsp;Us">
          <ul class="navbar-nav navbar-nav-collapsable mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/what-we-believe">What&nbsp;We&nbsp;Believe</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/staff-elders">Staff&nbsp;&&nbsp;Elders</a>
            </li>
          </ul>
        </app-collapse-link>
      </li>

      <li class="nav-item">
        <app-collapse-link title="Media/Sermons">
          <ul class="navbar-nav navbar-nav-collapsable mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/out-of-domain">Blog</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/out-of-domain">Podcast</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/video">Sermon&nbsp;Videos</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/god-stories">God&nbsp;Stories</a>
            </li>
          </ul>
        </app-collapse-link>
      </li>

      <li class="nav-item">
        <app-collapse-link title="Ministries">
          <ul class="navbar-nav navbar-nav-collapsable mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/ministries/missions">Missions</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/ministries/mens">Men's Ministry</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/ministries/womens">Women's Ministry</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/ministries/college">College Ministry</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/ministries/childrens">Children's Ministry</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/ministries/connect-groups">Connect Groups</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/ministries/discipleship">Discipleship</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/ministries/fellowship">Fellowship</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/ministries/outreach">Outreach</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/ministries/prayer">Prayer</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/ministries/support">Support</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/ministries/worship">Worship</a>
            </li>
          </ul>
        </app-collapse-link>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="calender">Calender</a>
      </li>

      <li class="nav-item">
        <app-collapse-link title="Contact&nbsp;Us/Directions">
          <ul class="navbar-nav navbar-nav-collapsable mr-auto">
            <li class="nav-link">
              <a class="nav-link" routerLink="/need-prayer">Need Prayer?</a>
            </li>

            <li class="nav-link">
              <a class="nav-link" routerLink="/tell-us-your-story">Tell Us Your Story</a>
            </li>
          </ul>
        </app-collapse-link>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/out-of-domain">Give</a>
      </li>
    </ul>
  </div>
</nav>
