/* For adding basic formatting structures loaded late to overwrite defaults */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css?family=Griffy&display=swap');

.nav-link {
  text-transform: uppercase;
  cursor: pointer;
  color: black;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

h1, h2, h3 {
  text-transform: uppercase;
}

