<div class="info-panel info-panel-2">
  <div class="info-box bg-support1">
    <h2>WHAT WE BELIEVE ABOUT...</h2>
    <ul>
      <li><h4><a href="/out-of-domain">BAPTISM</a></h4></li>
      <li><h4><a href="/out-of-domain">THE LORDS SUPPER</a></h4></li>
    </ul>
    <p>I Corinthians 15:1-8 <br> That Jesus Christ is the only begotten Son of God who died for our sins and arose
      from the dead.
    </p>

    <p>
      II Timothy 3:16 <br> That the Bible is the inspired Word of God -- "a lamp unto our feet and a light unto our
      path."
    </p>

    <p>
      Romans 3:23 <br> That every person has worth as a creation of God, but that "all have sinned and fallen short
      of the glory of God."
    </p>

    <p>
      John 3:16 <br> That forgiveness of sins and the promise of eternal life are available to those who trust Christ
      as Savior and Lord.
    </p>

    <p>
      Romans 10:9, Acts 2:38 <br> That those accepting Christ should repent of sin, confess their faith and be baptized
      by immersion into Him.
    </p>
  </div>

  <div class="info-box bg-support3">
    <h2>WHO WE ARE</h2>
    <p>
      Bridge Christian Church is an independent and nondenominational fellowship of believers which is striving to
      pattern itself after the ancient New Testament church in teaching, outreach and administration.  The world has
      dramatically changed since the first-century Christians met together.  We're trying to make those early
      principles and practices timely for today . . . believing that the early model can, and does, provide the best
      foundation for the growth of the Lord's church in our time.
    </p>

    <p>
      Our area has many different kinds of churches.  Each congregation strives to have a strong moral impact in its
      community while sharing the message of Christ's love.  Our lives have all been blessed by the influence for good
      these churches have had in the valley over the years.
    </p>

    <p>
      Christian churches are diverse in their teaching, methodology and traditions.  Each congregation draws to it
      those who have been attracted by its particular message or programs.  Our congregation doesn't presume to be
      superior to others or better qualified to serve our community.  We don't claim to be the only Christians; we
      simply proclaim we are "Christians only."  We want to rediscover, as best we can, the fundamentals that caused
      the early church to grow and impact the world of its time.  Our purpose is to make the teachings of Jesus
      meaningful to men and women in our fast-paced, confused society.  We believe we have something unique to share
      with those who long for a return to the clear, simple teachings of the New Testament.
    </p>

    <p>
      Bridge Christian Church is a young congregation, just established in December of 1995.  God is blessing our
      growth and ministry.  We're trying to build on the sure foundation of the Word of God.  Our prayer is that He
      will fashion our growth to best meet the needs of this community.
    </p>
  </div>
</div>
