// typography settings
$breakpoint-large-screen: 45rem;

$modularscale: (
  fluid: false,
  base: 1em,
  20em: (
    ratio: 1.2
  ),
  30em: (
    ratio: 1.333
  ),
  40em: (
    ratio: 1.5
  )
);

// colors

// Color of Bridge logo
$color-bridgelogo: #e06444;
$color-darkbridgelogo: #d45c3b;
$color-lightbridgelogo: #ff6f47;

/*
 * Colors calculated from https://www.sessions.edu/color-calculator/
 */
$color-turquoise: #49f2d9;
$color-slatepurple: #7439db;
$color-sandybrown: #fcc440;

/*
 * Colors mixed in http://trycolors.com
 */
$color-indianpurple: #aa4e80;
$color-coral: #ee9442;
$color-cornflowerblue: #5e95cb;
$color-lightgreen: #a3db8c;
$color-mediumturquoise: #57b4cf;
$color-darkorchid: #7d3b79;
$color-gold: #fcc340;
$color-lightcyan: #49f2d8;
$color-denim: #5e95cb;

// Text colors
$text-color-light: white;
$text-color-dark: black;

// Bootstrap-like color definitions
// support colors should alternate with odd colors being dark and even colors being light
$support1: $color-lightgreen;
$support2: $color-gold;
$support3: $color-mediumturquoise;


// Bootstrap Overrides

// Theme colors
$primary: $color-darkbridgelogo;
$secondary: $color-indianpurple;
$info: $color-slatepurple;

// Body
$body-bg: #ffefd7;

// Link
$link-color: $info;
