html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #fceec5;
  // downloaded from https://www.transparenttextures.com/black-felt.html
  background-image: url('src/assets/img/black-felt.png');
}
