.post-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.post-title-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

$post-margin: 1em;
.post-text {
  margin: 0 $post-margin $post-margin;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
