<div class="post-container">
  <div class="post-title-content">
    <h5 class="title legible-width">{{title}}</h5>
    <div class="post-text legible-block-text">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="link-container">
    <a *ngIf="internalLink"
       class="btn btn-primary"
       routerLink="internalLink">{{buttonText}}</a>
    <a *ngIf="externalLink && !(internalLink)"
       class="btn btn-primary"
       href="{{externalLink}}">{{buttonText}}</a>
  </div>
</div>


