<div class="title-box background-tomato">
  <h1>Connect Groups</h1>
  <i class="material-icons" style="font-size: 60px;">remove</i>
  <p>
    Join monthly activities ranging from hiking to kayaking to dining, all designed to draw our church community closer
    together.
  </p>
</div>

<div class="content-container text-center">
  <app-connect-group-block
    title="Coffee & Friends Connect&nbsp;Group"
    imgUrl="https://static.wixstatic.com/media/cbd73b_a128200f9f7949d8843a1929ffdb1da4~mv2.jpg/v1/fill/w_163,h_160,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_a128200f9f7949d8843a1929ffdb1da4~mv2.webp"
    btnLinkUrl="/out-of-domain"
  >
    Come hear testimonies of encouragement from women in our church while enjoying coffee and breakfast in the comfort
    of someone's home. This is a great way to relax and connect with other women at the church and in our community,
    giving you a break from your hectic schedule. Contact <a href="bethany@bridgechristian.church">Bethany Mullen</a>
    with questions. Sign up for emails about this groups upcoming events.
  </app-connect-group-block>

  <app-connect-group-block
    title="Dining Connect&nbsp;Group"
    imgUrl="https://static.wixstatic.com/media/cbd73b_c1e2c398a20447dbb4477098483ce207.jpg/v1/fill/w_160,h_160,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_c1e2c398a20447dbb4477098483ce207.webp"
    btnLinkUrl="/out-of-domain"
  >
    Each month a different dining establishment is selected, we meet at the church and take the church van to the
    location where we enjoy food and fellowship. Yes, you may gain a few pounds but you may also gain some close
    friendships! Contact <a href="dralwhite@yahoo.com">Alan White</a> with questions. Sign up for emails about
    this groups upcoming events.
  </app-connect-group-block>

  <app-connect-group-block
    title="Hiking Connect&nbsp;Group"
    imgUrl="https://static.wixstatic.com/media/cbd73b_3f77384b6bd84bc6981985cb08534aa3.jpg/v1/fill/w_160,h_160,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_3f77384b6bd84bc6981985cb08534aa3.webp"
    btnLinkUrl="/out-of-domain"
  >
    You don't have to be an experienced hiker to join in on the fun! If you're in relatively good shape, you
    can generally expect to be able to complete our monthly hikes. We hike throughout the valley and
    occasionally may throw in a picnic. Most hikes are 3-5 miles in length. We meet at the church and ride
    together in the church van to the trailhead. Contact <a href="donbrooke@gmail.com">Don Brooke</a> with
    questions. Sign up for emails about this groups upcoming events.
  </app-connect-group-block>

  <app-connect-group-block
    title="Kayaking Connect&nbsp;Group"
    imgUrl="https://static.wixstatic.com/media/cbd73b_22be1b81e6c94991b3a08e1868fc001e.jpg/v1/fill/w_160,h_160,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_22be1b81e6c94991b3a08e1868fc001e.webp"
    btnLinkUrl="/out-of-domain"
  >
    This group is open to kayakers of all levels and even no level at all! We generally steer clear of the big
    rapids and kayak on scenic lakes so if you're a novice and want to try it out, here's your chance! There's
    nothing like a day on the lake in your kayak having fellowship with a great group of friends! Contact
    <a href="lara@bridgechristian.church">Lara Hoke</a> with questions. Sign up for emails about this groups
    upcoming events.
  </app-connect-group-block>
</div>
