.bg-white {
  background-color: $white;
}

.bg-support1 {
  background-color: $support1;
}

.bg-support2 {
  background-color: $support2;
}

.bg-support3 {
  background-color: $support3;
}

.bg-support4 {
  background-color: $support4;
}

.bg-support5 {
  background-color: $support5;
}
