.background-white {
  background-color: $white;
  color: $gray-900;
}

.bg-primary {
  background-color: $primary;
  color: $white;

  p, ul {
    color: $black;
  }
}

.bg-secondary {
  background-color: $secondary;
  color: $white;
}

.bg-info {
  background-color: $info;
  color: $white;
}

.bg-darkred  {
  background-color: $color-darkred;
  color: $white;
}

.bg-teal {
  background-color: $color-teal;
  color: $white;
}

.bg-cornflowerblue {
  background-color: $color-cornflowerblue;
}
