<div class="container-staff-elders">
  <div class="container-pic-cards">
    <app-pic-card
      picUrl="https://static.wixstatic.com/media/cbd73b_7b6a7318929444dc973190d00a26e837~mv2.png/v1/fill/w_186,h_186,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_7b6a7318929444dc973190d00a26e837~mv2.webp"
      name="Todd Brown"
      role="Senior Pastor"
      email="todd@bridgechristian.church"
    ></app-pic-card>

    <app-pic-card
      picUrl="https://static.wixstatic.com/media/cbd73b_509944bed7e54c729d49fd1d016854ab~mv2.png/v1/fill/w_186,h_186,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_509944bed7e54c729d49fd1d016854ab~mv2.webp"
      name="Stacey Burkholder"
      role="Outreach Pastor"
      email="stacey@bridgechristian.church"
    ></app-pic-card>

    <app-pic-card
      picUrl="https://static.wixstatic.com/media/cbd73b_5e18d0aa09f64db49133a310ae69b142~mv2.png/v1/fill/w_186,h_186,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_5e18d0aa09f64db49133a310ae69b142~mv2.webp"
      name="Zach Woods"
      role="Family Minister"
      email="zach@bridgechristian.church"
    ></app-pic-card>

    <app-pic-card
      picUrl="https://static.wixstatic.com/media/cbd73b_a73dd116d6264f11b3e1029bbe64fa9d~mv2.png/v1/fill/w_186,h_186,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_a73dd116d6264f11b3e1029bbe64fa9d~mv2.webp"
      name="Julie Robinson"
      role="Children's Minister"
      email="julie@bridgechristian.church"
    ></app-pic-card>

    <app-pic-card
      picUrl="https://static.wixstatic.com/media/cbd73b_83a87b34a57e40cdbed606038bb8159f~mv2.png/v1/fill/w_186,h_186,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_83a87b34a57e40cdbed606038bb8159f~mv2.webp"
      name="Phillip Painter"
      role="Student Minister"
      email="phillip@bridgechristian.church"
    ></app-pic-card>

    <app-pic-card
      picUrl="https://static.wixstatic.com/media/cbd73b_e1aa814f790944a5a34b69991e1ad58b~mv2.png/v1/fill/w_186,h_186,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_e1aa814f790944a5a34b69991e1ad58b~mv2.webp"
      name="Tyler Wines"
      role="Creative Arts Minister"
      email="tyler@bridgechristian.church"
    ></app-pic-card>

    <app-pic-card
      picUrl="https://static.wixstatic.com/media/cbd73b_b739d930086b4217b4654846a6eb5925~mv2.png/v1/fill/w_186,h_186,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_b739d930086b4217b4654846a6eb5925~mv2.webp"
      name="Stephanie Marshall"
      role="Ministry Team Administrator"
      email="stephanie@bridgechristian.church"
    ></app-pic-card>

    <app-pic-card
      picUrl="https://static.wixstatic.com/media/cbd73b_42d5078f39ae43a7be504adc597aeeb6~mv2.png/v1/fill/w_186,h_186,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_42d5078f39ae43a7be504adc597aeeb6~mv2.webp"
      name="Lara Hoke"
      role="Prayer & Advocacy Minister"
      email="lara@bridgechristian.church"
    ></app-pic-card>

    <app-pic-card
      picUrl="https://static.wixstatic.com/media/cbd73b_102bb670430547a7a76c5d701911c4a2~mv2.png/v1/fill/w_186,h_186,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_102bb670430547a7a76c5d701911c4a2~mv2.webp"
      name="Bethany Mullen"
      role="Connections Minister"
      email="bethany@bridgechristian.church"
    ></app-pic-card>

    <app-pic-card
      picUrl="https://static.wixstatic.com/media/cbd73b_f7eb294b34db4c77af4bcc9a385c67dd~mv2.png/v1/fill/w_186,h_186,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_f7eb294b34db4c77af4bcc9a385c67dd~mv2.webp"
      name="Matt Covell"
      role="Technical Arts Minister"
      email="matt@bridgechristian.church"
    ></app-pic-card>

    <app-pic-card
      picUrl="https://static.wixstatic.com/media/cbd73b_a50989ea58ec48638aa7d1ba8e4b76eb~mv2.png/v1/fill/w_186,h_186,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_a50989ea58ec48638aa7d1ba8e4b76eb~mv2.webp"
      name="Keith Bottenfield"
      role="Elder"
      email="keith@bottenfieldexcavating.com"
    ></app-pic-card>

    <app-pic-card
      picUrl="https://static.wixstatic.com/media/cbd73b_b5063521720240f4aff96a03635109ee~mv2.png/v1/fill/w_186,h_186,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_b5063521720240f4aff96a03635109ee~mv2.webp"
      name="Steve Saufley"
      role="Elder"
      email="belleviewfarm1@verizon.net"
    ></app-pic-card>

    <app-pic-card
      picUrl="https://static.wixstatic.com/media/cbd73b_fa3ef68dc22349fabf0fa89d70b0f8e6~mv2.png/v1/fill/w_186,h_186,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_fa3ef68dc22349fabf0fa89d70b0f8e6~mv2.webp"
      name="Bev Cundiff"
      role="Elder"
      email="bev.cundiff.cjfk@statefarm.com"
    ></app-pic-card>

    <app-pic-card
      picUrl="https://static.wixstatic.com/media/cbd73b_d5e9f3aa3517434d8e1756756c1c99c2~mv2.png/v1/fill/w_186,h_186,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_d5e9f3aa3517434d8e1756756c1c99c2~mv2.webp"
      name="Richard Melton"
      role="Elder"
      email="mrmeltonrl@yahoo.com"
    ></app-pic-card>

    <app-pic-card
      picUrl="https://static.wixstatic.com/media/cbd73b_235f676de1754c5cb2946d6896e577e5~mv2.png/v1/fill/w_186,h_186,al_c,q_80,usm_0.66_1.00_0.01/cbd73b_235f676de1754c5cb2946d6896e577e5~mv2.webp"
      name="Craig Smith"
      role="Elder"
      email="rcraigsmith@mgwnet.com"
    ></app-pic-card>
  </div>
</div>
