.container-staff-elders {
  width: 100%;
}

.container-pic-cards {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  max-width: 65em;

  app-pic-card {
    flex: 1 1 0;
  }
}
