<div class="content-container">

  <div class="info-panel">
    <div class="info-box background-darkgrey">
      <h3>Starting Point</h3>

      <p>
        Starting Point is a relaxed two-week study that will open the doors to our mission, strategy, beliefs and
        goals for your future here at Bridge Christian Church. The class concludes with an introduction to Connect
        Groups, Life Groups, ministry opportunities and lunch with the ministry staff.  Starting Point meets every
        other month in meeting room A during the 11:15am worship service and is led by a Bridge staff member. To
        sign-up for the next Starting Point Class, register below.
      </p>

      <a routerLink="/out-of-domain">Register Here</a>
    </div>

    <div class="info-box background-lightgrey">
      <h3>Connect Groups</h3>

      <p>
        Connect Groups are where you can get to know others in the church that have similar interests, pastimes, or
        hobbies, and have fun at the same time! If you aren’t ready to join a Life Group or Bible study, try a Connect
        Group. Check out the Connect Group page for more details.
      </p>

      <a routerLink="/connect-groups">Read More</a>
    </div>

    <div class="info-box background-tomato">
      <h3>Small Groups</h3>

      <p>
        Small groups are a great way to grow in your faith while getting to know a small group of people.  Our small
        groups meet on a weekly basis and include: Life Groups, Bible Studies, Student Groups and Circles of Hope:
        Support Groups. For more details use the button below.
      </p>

      <a routerLink="/out-of-domain">Contact Me</a>
    </div>
  </div>

</div>
