.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-container {
  margin: 0 -5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.box {
  color: white;
  text-align: center;
  margin: 0 5px;
  padding: 40px;
  flex: 1 1 0;
}

.box-content {
  margin: 40px auto;
  max-width: 400px;
}

a {
  color: white;
  font-size: 1.1em;
  text-decoration: underline;
}

a:hover {
  color: royalblue;
}


