/* For adding basic formatting structures loaded late to overwrite defaults */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.nav-link {
  text-transform: uppercase;
  cursor: pointer;
  color: black;
}

h1, h2, h3 {
  text-transform: uppercase;
}
