<h2>Come and Join Us in Christian Fellowship</h2>

<ngb-carousel>
  <ng-template ngbSlide>
    <app-services></app-services>
    <div class="carousel-caption">
      <h3>Services</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <app-halloween></app-halloween>
    <div class="carousel-caption">
      <h3>Halloween</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <app-coffee></app-coffee>
    <div class="carousel-caption">
      <h3>Coffee</h3>
    </div>
  </ng-template>
</ngb-carousel>


<!--
--->
