.announcement-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .announcement-container {
    font-size: 10px;
  }

  .title-h1 {
    font-size: 10vw;
  }

  .title-h3 {
    font-size: 7vw;
  }
}



.announcement-group {
  display: flex;
}

.announcement-group-desk {
  flex-direction: row;
}

.announcement-group-desk-reverse {
  flex-direction: row-reverse;
}

.announcement-group-mobile {
  flex-direction: column;
}


.announcement-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #324158;
  flex: 1 1 0;
}

.announcement-posts {
  background-color: white;
  padding: 30px;
  flex: 1.25 1 0;
}

.spacer {
  margin-bottom: 30px;
}

