<div class="post-block" style="flex-wrap: wrap">
  <div class="post-title bg-info text-light">
    <h1>Opportunities</h1>
    <h3>To Give & Serve</h3>
    <p>Click on any of the buttons to the right for more details and to sign up.</p>
  </div>

  <div class="post-container bg-white">
    <app-post title="College Care Ministry" buttonText="Sign&nbsp;Up" internalLink="/college-ministry">
      Two Part Ministry: #1 - College Student Requesting Care or #2 - Student Caregivers. For full details or to be a
      part of this ministry, sign up today!
    </app-post>

    <app-post title="Foster Care Family Night Out / Volunteers Needed"
              buttonText="Sign&nbsp;Up"
              internalLink="/out-of-domain">
      Foster Family Frenzy - Kids Night Out, Parents Night Off! Enjoy a Night out on us, while your kids hang with
      us; ​Saturday, Sept. 28 5-8pm. Sign up your family to take advantage of this great event or sign up to help
      with childcare for this event. Click Sign Up for full details.
    </app-post>


    <app-post title="Guatemala Fundraiser - Parents Night Out"
              buttonText="Sign&nbsp;Up"
              internalLink="/out-of-domain">
      Bridge Kids volunteers are headed to Guatemala this November. As a fundraiser, the team invites all kids,
      ages 4-12 to a Pajama Party and Movie night, Friday, October 4 from 6-9pm at Bridge. Suggested donation is $10
      per child but all donations welcome. This trip will work with Love Guatemala hosting a kids camp, working in a
      feeding center and assisting a vocational school. Use sign up for the event. Click HERE to simply donate.
    </app-post>

    <app-post title="Parking Attendant Volunteers Needed"
              buttonText="Sign&nbsp;Up"
              internalLink="/out-of-domain">
      Bridge is growing and that means we need your help! If you are interested in joining our parking team.
      Indicate which service you would like to serve. Sign up today.
    </app-post>
  </div>
</div>

<div class="post-block" style="flex-wrap: wrap-reverse">
  <div class="post-container bg-white">
    <app-post title="Men's Golf Connect Group Event" buttonText="Sign&nbsp;Up" internalLink="/college-ministry">
      Bridge Golf Connect Group will be hosting an afternoon of golf at Stoney Creek Golf course in Nellysford, VA on
      Sunday October 6th at 2pm. Cost will be $49.00. Please sign up if you are interested in playing.
    </app-post>

    <app-post title="Outreach: Gypsy Hill Park Scarecrow &quot;Build Off&quot;"
              buttonText="More&nbsp;Info"
              internalLink="/out-of-domain">
      Are you creative and crafty? Join others from Bridge for a fun Outreach opportunity. Individuals/families can
      meet at Gypsy Hill Park on Saturday, October 5th from 9am to noon for a Scarecrow "Build Off." The scarecrow(s)
      will be presented for the month of October for all who visit the park. Contact Leslie Hite at
      doublelhite117@gmail.com if you are able to attend that day or have ideas for a theme.
    </app-post>
  </div>
  <div class="post-title bg-info text-light">
    <div class="text-center">
      <h1 class="title-h1">Opportunities</h1>
      <h3 class="title-h3">To Connect & Grow</h3>
      <p>Click on any of the buttons to the right <br> for more details and to sign up.</p>
    </div>
  </div>
</div>


