.post-block {
  display: flex;
  margin: 2rem 0;
}

.post-title {
  text-align: center;
  padding: 2rem 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    width: 18rem;
    margin: 0 auto;
  }
}

.post-container {
  flex: 1 1 auto;

  app-post {
    margin: 0 2rem;
  }
}
