.announcement-block {
  margin-bottom: 80px;
  align-items: center;
  align-items: stretch;
}

.title-block {
  display: flex;
  justify-content: center;
  background-color: #34495E;
  color: beige;
  align-items: center;
}

.post-block {
  margin-right: 80px;
  margin-left: 80px;
}
